name: CI Build

on: [pull_request]

env:
  LC_ALL: en_US.UTF-8

jobs:
  #CheckSourceFormatting:
  #  name: Check source formatting
  #  runs-on: ubuntu-20.04
  #  steps:
  #    - name: Checkout
  #      uses: actions/checkout@v1
  #    - name: Set up JDK17
  #      uses: actions/setup-java@v1
  #      with:
  #        java-version: 17
  #    - name: Cache
  #      uses: actions/cache@v1
  #      with:
  #        path: ~/.gradle/caches
  #        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
  #        restore-keys: |
  #          ${{ runner.os }}-gradle-
  #    - name: Check source formatting task
  #      shell: bash
  #      run: |
  #        ./gradlew --no-daemon checkSourceFormatting
  #LinuxJDK8:
  #  name: Linux JDK8
  #  runs-on: ubuntu-20.04
  #  steps:
  #    - name: Checkout
  #      uses: actions/checkout@v1
  #    - name: Set up JDK8
  #      uses: actions/setup-java@v1
  #      with:
  #        java-version: 1.8
  #    - name: Cache
  #      uses: actions/cache@v1
  #      with:
  #        path: ~/.gradle/caches
  #        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
  #        restore-keys: |
  #          ${{ runner.os }}-gradle-
  #    - name: Build
  #      shell: bash
  #      run: |
  #        ./gradlew --no-daemon --scan clean test verifyPlugin
  LinuxJDK11:
    name: Linux JDK17
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up JDK17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Cache
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build
        shell: bash
        run: |
          ./gradlew --no-daemon --scan clean test verifyPlugin
  CompatibilityChecking:
    name: Check compatibility
    runs-on: ubuntu-20.04
    steps:
      - name : Checkout
        uses: actions/checkout@v1
      - name: Set up JDK17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Build
        shell: bash
        run: |
          ./gradlew --no-daemon clean -x test build
      - name: Verify compatibility
        uses: ChrisCarini/intellij-platform-plugin-verifier-action@latest
        with:
         plugin-location: './build/distributions/*.zip'
         ide-versions: |
          ideaIC:2022.3
          ideaIU:2022.3
          ideaIC:2022.3.1
          ideaIU:2022.3.1
          ideaIC:2022.3.2
          ideaIU:2022.3.2          
